[submodule "ULIWideningBezierPath"]
	path = ULIWideningBezierPath
	url = https://uliwitness@github.com/uliwitness/WideningBezierPathTest.git
	branch = master
[submodule "Forge"]
	path = Forge
	url = https://uliwitness@github.com/uliwitness/Forge.git
	branch = master
[submodule "ForgeDebugger"]
	path = ForgeDebugger
	url = https://uliwitness@github.com/uliwitness/ForgeDebugger.git
	branch = master
[submodule "KVOWithBlocks"]
	path = KVOWithBlocks
	url = https://uliwitness@github.com/uliwitness/KVOWithBlocks.git
	branch = master
[submodule "Stacks"]
	path = Stacks
	url = https://uliwitness@github.com/uliwitness/Stacks.git
	branch = master
[submodule "stackimport"]
	path = stackimport
	url = https://uliwitness@github.com/uliwitness/stackimport.git
	branch = master
[submodule "UKPaintView"]
	path = UKPaintView
	url = https://uliwitness@github.com/uliwitness/UKPaintView.git
	branch = master
[submodule "UKDistributedView"]
	path = UKDistributedView
	url = https://uliwitness@github.com/uliwitness/UKDistributedView.git
	branch = master
[submodule "UKSyntaxColoredTextDocument"]
	path = UKSyntaxColoredTextDocument
	url = https://uliwitness@github.com/uliwitness/UKSyntaxColoredTextDocument.git
	branch = master
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://uliwitness@github.com/uliwitness/tinyxml2.git
	branch = master
[submodule "ULIMelodyQueue"]
	path = ULIMelodyQueue
	url = https://uliwitness@github.com/uliwitness/ULIMelodyQueue.git
	branch = master
[submodule "UliKit"]
	path = UliKit
	url = https://uliwitness@github.com/uliwitness/UliKit.git
	branch = master
[submodule "ULINetSocket"]
	path = ULINetSocket
	url = https://uliwitness@github.com/uliwitness/ULINetSocket.git
	branch = master
[submodule "Sparkle"]
	path = Sparkle
	url = git@github.com:uliwitness/Sparkle.git
	branch = master
[submodule "UKSoundFileRecorder"]
	path = UKSoundFileRecorder
	url = https://uliwitness@github.com/uliwitness/UKSoundFileRecorder.git
	branch = master
