# Configuration file for HeaderDoc
# Original file: $Revision: 1.5.4.1.2.20 $ From Apple Computer
# Modified by: Uli Kusterer
###########################################################
copyrightOwner => (c) 2010 Uli Kusterer, all rights reserved.
defaultFrameName => index.html
masterTOCName => index.html
apiUIDPrefix => leo_ref
TOCTemplateFile => ./HeaderDocTOCTemplate.html
ignorePrefixes =>
htmlHeader => 
dateFormat => %Y-%m-%d
textStyle =>
commentStyle => background:#ffffff; color:#ff0000
preprocessorStyle => background:#ffffff; color:#236e25
funcNameStyle => background:#ffffff; color:#0000dd;
stringStyle => background: #ffffff; color:#666666;
charStyle => background: #ffffff; color:#666666;
numberStyle => background: #ffffff; color:#000000;
keywordStyle => background:#ffffff; color:#0000ff;
typeStyle => background:#ffffff; color:#0000ff;
paramStyle => background:#ffffff; color:#000000;
varStyle => background:#ffffff; color:#000000;
templateStyle => background:#ffffff; color:#761550;