<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OneLineCommentPrefix</key>
	<string>-- </string>
	<key>Components</key>
	<array>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>&quot;</string>
			<key>EscapeChar</key>
			<string></string>
			<key>Name</key>
			<string>Strings</string>
			<key>Start</key>
			<string>&quot;</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_1234567890</string>
			<key>Color</key>
			<array>
				<real>0.2</real>
				<real>0.5</real>
				<real>0.2</real>
			</array>
			<key>Keywords</key>
			<array>
				<string>on</string>
				<string>function</string>
				<string>openCard</string>
				<string>mouseUp</string>
				<string>mouseDown</string>
				<string>return</string>
				<string>put</string>
				<string>into</string>
				<string>after</string>
				<string>repeat</string>
				<string>to</string>
				<string>with</string>
				<string>from</string>
				<string>end</string>
				<string>set</string>
				<string>of</string>
				<string>in</string>
				<string>before</string>
				<string>go</string>
				<string>card</string>
				<string>cd</string>
				<string>background</string>
				<string>bkgd</string>
				<string>bgd</string>
				<string>bg</string>
				<string>part</string>
				<string>button</string>
				<string>btn</string>
				<string>field</string>
				<string>fld</string>
			</array>
			<key>Name</key>
			<string>Identifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_1234567890</string>
			<key>Name</key>
			<string>UserIdentifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>--</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>End</key>
			<string>*)</string>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>(*</string>
			<key>Type</key>
			<string>BlockComment</string>
		</dict>
	</array>
</dict>
</plist>
