<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Components</key>
	<array>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_1234567890</string>
			<key>Color</key>
			<array>
				<real>0.2</real>
				<real>0.5</real>
				<real>0.2</real>
			</array>
			<key>Keywords</key>
			<array>
				<string>on</string>
				<string>function</string>
				<string>openCard</string>
				<string>closeCard</string>
				<string>newCard</string>
				<string>deleteCard</string>
				<string>closeField</string>
				<string>exitField</string>
				<string>mouseUp</string>
				<string>mouseDown</string>
				<string>mouseStillDown</string>
				<string>mouseEnter</string>
				<string>mouseLeave</string>
				<string>openStack</string>
				<string>suspendStack</string>
				<string>resumeStack</string>
				<string>closeStack</string>
				<string>openBackground</string>
				<string>closeBackground</string>
				<string>return</string>
				<string>put</string>
				<string>into</string>
				<string>after</string>
				<string>repeat</string>
				<string>to</string>
				<string>with</string>
				<string>from</string>
				<string>end</string>
				<string>set</string>
				<string>of</string>
				<string>in</string>
				<string>before</string>
				<string>go</string>
				<string>card</string>
				<string>cards</string>
				<string>cd</string>
				<string>cds</string>
				<string>background</string>
				<string>backgrounds</string>
				<string>bkgd</string>
				<string>bkgds</string>
				<string>bgd</string>
				<string>bgds</string>
				<string>bg</string>
				<string>bgs</string>
				<string>part</string>
				<string>parts</string>
				<string>button</string>
				<string>buttons</string>
				<string>btn</string>
				<string>btns</string>
				<string>field</string>
				<string>fields</string>
				<string>fld</string>
				<string>flds</string>
				<string>if</string>
				<string>else</string>
				<string>then</string>
				<string>me</string>
				<string>empty</string>
				<string>the</string>
				<string>line</string>
				<string>lines</string>
				<string>word</string>
				<string>words</string>
				<string>char</string>
				<string>chars</string>
				<string>character</string>
				<string>characters</string>
				<string>item</string>
				<string>items</string>
				<string>select</string>
				<string>first</string>
				<string>previous</string>
				<string>next</string>
				<string>last</string>
				<string>delete</string>
				<string>number</string>
				<string>sort</string>
				<string>lines</string>
				<string>cursor</string>
				<string>busy</string>
				<string>watch</string>
				<string>plus</string>
				<string>ibeam</string>
				<string>optionkey</string>
				<string>ask</string>
				<string>answer</string>
				<string>name</string>
				<string>pass</string>
				<string>short</string>
				<string>long</string>
				<string>abbr</string>
				<string>abbrev</string>
				<string>abbreviated</string>
				<string>date</string>
				<string>stack</string>
				<string>visual</string>
				<string>effect</string>
				<string>global</string>
				<string>show</string>
				<string>hide</string>
				<string>is</string>
				<string>not</string>
				<string>menu</string>
				<string>me</string>
				<string>this</string>
				<string>target</string>
				<string>menubar</string>
				<string>push</string>
				<string>pop</string>
				<string>lock</string>
				<string>unlock</string>
				<string>screen</string>
				<string>messages</string>
				<string>exit</string>
				<string>true</string>
				<string>false</string>
				<string>beep</string>
				<string>choose</string>
				<string>tool</string>
				<string>quote</string>
				<string>colon</string>
				<string>while</string>
				<string>until</string>
				<string>do</string>
				<string>get</string>
				<string>contains</string>
				<string>wait</string>
			</array>
			<key>Name</key>
			<string>Identifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_1234567890</string>
			<key>Name</key>
			<string>UserIdentifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>--</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>End</key>
			<string>*)</string>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>(*</string>
			<key>Type</key>
			<string>BlockComment</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>&quot;</string>
			<key>EscapeChar</key>
			<string></string>
			<key>Name</key>
			<string>Strings</string>
			<key>Start</key>
			<string>&quot;</string>
			<key>Type</key>
			<string>String</string>
		</dict>
	</array>
	<key>OneLineCommentPrefix</key>
	<string>-- </string>
</dict>
</plist>
