<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>barn door close</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>cifilter</string>
		<key>CATransitionType</key>
		<string>WILDBarnDoorCloseFilter</string>
	</dict>
	<key>barn door open</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>cifilter</string>
		<key>CATransitionType</key>
		<string>WILDBarnDoorOpenFilter</string>
	</dict>
	<key>dissolve</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string></string>
		<key>CATransitionType</key>
		<string>fade</string>
	</dict>
	<key>iris close</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>cifilter</string>
		<key>CATransitionType</key>
		<string>WILDIrisCloseFilter</string>
	</dict>
	<key>iris open</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>cifilter</string>
		<key>CATransitionType</key>
		<string>WILDIrisOpenFilter</string>
	</dict>
	<key>push down</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromTop</string>
		<key>CATransitionType</key>
		<string>push</string>
	</dict>
	<key>push left</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromRight</string>
		<key>CATransitionType</key>
		<string>push</string>
	</dict>
	<key>push right</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromLeft</string>
		<key>CATransitionType</key>
		<string>push</string>
	</dict>
	<key>push up</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromBottom</string>
		<key>CATransitionType</key>
		<string>push</string>
	</dict>
	<key>scroll down</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromTop</string>
		<key>CATransitionType</key>
		<string>reveal</string>
	</dict>
	<key>scroll left</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromRight</string>
		<key>CATransitionType</key>
		<string>reveal</string>
	</dict>
	<key>scroll right</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromLeft</string>
		<key>CATransitionType</key>
		<string>reveal</string>
	</dict>
	<key>scroll up</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromBottom</string>
		<key>CATransitionType</key>
		<string>reveal</string>
	</dict>
	<key>wipe down</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromTop</string>
		<key>CATransitionType</key>
		<string>CISwipeTransition</string>
	</dict>
	<key>wipe left</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromRight</string>
		<key>CATransitionType</key>
		<string>CISwipeTransition</string>
	</dict>
	<key>wipe right</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromLeft</string>
		<key>CATransitionType</key>
		<string>CISwipeTransition</string>
	</dict>
	<key>wipe up</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>fromBottom</string>
		<key>CATransitionType</key>
		<string>CISwipeTransition</string>
	</dict>
	<key>shrink to top</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>cifilter</string>
		<key>CATransitionType</key>
		<string>WILDShrinkToTopFilter</string>
	</dict>
	<key>shrink to bottom</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>cifilter</string>
		<key>CATransitionType</key>
		<string>WILDShrinkToBottomFilter</string>
	</dict>
	<key>stretch from bottom</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>cifilter</string>
		<key>CATransitionType</key>
		<string>WILDStretchFromBottomFilter</string>
	</dict>
	<key>stretch from top</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>cifilter</string>
		<key>CATransitionType</key>
		<string>WILDStretchFromTopFilter</string>
	</dict>
	<key>venetian blinds</key>
	<dict>
		<key>CATransitionSubtype</key>
		<string>cifilter</string>
		<key>CATransitionType</key>
		<string>WILDVenetianBlindsFilter</string>
	</dict>
</dict>
</plist>
