.style1
{
	font-family: Lucida Grande;
	font-size: 13;
}
.style2
{
	text-style: italic;
}
.style3
{
	font-family: .Helvetica Neue DeskInterface;
	font-size: 12;
}
.style4
{
	font-family: .Helvetica Neue DeskInterface;
	font-size: 12;
}
